<div class="container">
  <h2 class="text-center mx-auto about-header text-white">About</h2>
  <div class="row">
    <div class="col-lg-8 text-center mx-auto">
      <h2 class="section-heading text-white font-weight-bold">DMCC</h2>
      <hr class="light">
      <p class="text-faded text-white">
        Established in 2002 as a strategic initiative of the Government of Dubai with a mandate to provide the physical, market and financial infrastructure required to set up and operate a thriving commodities marketplace, today we are officially recognised as the largest Free Zone in the United Arab Emirates with over 12,000 registered companies under license.
      </p>
      <a  class="btn btn-default btn-about" [routerLink]="['/home']">Schedule Now!</a>
    </div>
  </div>
</div>

<div class="justify-content-center text-center mx-auto about-footer text-white">
  <div>Made with <i class="fa fa-heart fa-2x"></i> &nbsp;by <strong><a href="https://nine.appointy.com"></a>Appointy</strong></div>
</div>
